<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Rerouting app</title>
     
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/style.css') }}">
    
</head>

<body>
    <div class = "container">
        <div class = "initialScreen">
            <div class = "title">
                <h1>
                    <span>The quicker and safer way for people</span>
                    <strong><br>to reach their destination <br>through rerouting</strong>
                </h1>
            </div>

            <div class = "getStarted">
                <div class = "startedButton">
                    <a href = "reroute" style = "color: white">Get Started</a>
                </div>
                <div class = "startedInfo">
                    <p>Start getting safe reroute to your spot!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!DOCTYPE html>